<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div class="container-fluid">
      <a class="navbar-brand"  routerLink="/map">Rate By Pic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/about">About</a>
          </li>
        </ul>

        <div *ngIf="currentUser$ | async; else notLoggedIn" class="d-flex">
          <span class="ms-auto link-light mr-2">{{ currentUser$ | async }} </span>
          <a href="#" (click)="$event.preventDefault(); logout()" class="ms-auto link-light">Logout</a>
        </div>
        <ng-template #notLoggedIn>
          <div class="d-flex">
            <a href="#" (click)="$event.preventDefault(); displaySignIn=true;" class="ms-auto link-light">Sign In</a>
          </div>
        </ng-template>

      </div>
    </div>

  </nav>

  <div>
    <p-toast position="top-center" [baseZIndex]="5"></p-toast>
    <router-outlet></router-outlet>
  </div>
</div>
<p-dialog [(visible)]="displaySignIn" [modal]="true" [dismissableMask]="true" [breakpoints]="{'960px': '75vw', '640px': '90vw'}" [style]="{width: '50vw'}" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false">

  <firebase-ui *ngIf="displaySignIn" (signInSuccessWithAuthResult)="successLoggedin($event)"></firebase-ui>

</p-dialog>