<div class="my-google-map">
    <google-map [width]="null" [height]="null" [options]="mapOptions">
        <map-marker *ngFor="let pm of placeMarkers" [position]="pm.marker.position" [options]="pm.marker.options"
            [label]="pm.marker.label" [title]="pm.marker.title" (mapClick)="markerClicked(pm)">

        </map-marker>
    </google-map>
</div>
<div style="display: none;">
    <div #mapSearchFieldContainer>
        <span class="p-input-icon-left mt-2 ml-2">
            <i class="pi pi-search"></i>
            <input #mapSearchField type="text" pInputText placeholder="Search City" />
        </span>
        <br>
        <form (ngSubmit)="placeSearch()">
            <span class="p-input-icon-left mt-2 ml-2">
                <i class="pi pi-search"></i>
                <input #businessSearchField type="text" pInputText placeholder="Search Business" />

            </span>
        </form>
        <br>
    </div>
</div>
<p-dialog *ngIf="selectedPlace" [(visible)]="displayUpload" [modal]="true" [dismissableMask]="true"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h5> Upload a photo : {{selectedPlace.name}} </h5>
    </ng-template>

    <p-fileUpload mode="basic" [auto]="true" chooseLabel="Browse" name="myfile[]" accept="image/*" [customUpload]="true"
        (uploadHandler)="onImageUpload($event)"></p-fileUpload>

    <p-image *ngIf="downloadURL" src="{{downloadURL | async}}" alt="Image" width="250" [preview]="true"></p-image>


    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayUpload=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

