.my-google-map .map-container {
    width: 100%;
    height: calc(100vh - 56px);
}


.marker-labels {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
}

.photos-container {
    width: 225px;
    background-color: rgba(255, 255, 255, 0.4);
    height: calc(100vh - 170px);
    overflow: auto;
    overflow-x: hidden;
}

.photos-container div {
    cursor: pointer;
}

.pic-img {
    width: 200px;
}

.image-list-item .p-image-preview {
    max-width: 100vw;

}

@media only screen and (max-width: 768px) {
    .photos-container {
        width: 120px;
    }
    .pic-img {
        width: 105px;
    }
}